.todo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: .5em 0;
}

.todoItem {
    list-style-type: none;
    background-color: peachpuff;
    color: black;
    border: indigo;
    border-style: groove;
}

.checked {
    text-decoration: line-through;
}